
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

.container{
    margin: 0, auto;
    margin-bottom: 50px;
    background-color: #1F2937;
    }

.header-logo{
    font-size:24px;
    color:#f9faf8;
    font-weight:900;
    }

.links{
    display: flex;
    justify-content: flex-end;
    height: 10;
}

 .alternate, .Alternate-mod , .classic{
   margin-left:19px;
   }


.links a{
    color: white;
    text-decoration: none;
}

.Hero-paragraph{
    font-size:12px;
    margin-top:25px;
   padding: 0;
    width: 90%;
}

.hero-text{
    font-size:48px;
    font-weight: 900;
    line-height:49px;
    width: 90%;
    }

.container{
    justify-content: center;
    margin: 0, auto;
    margin-bottom: 50px;
    padding: 20px;
    }

.nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    }

.first-landing{
    justify-content: space-around;
    width: 100%;
    padding:10px;
    margin-top:6%;
    color: white;
    margin-bottom: 17px;
    margin-bottom: -20px;
    display: flex;
    border: 1px solid  red;
    }

.text{
   width: 30%;
    margin-left: 39px;
    height: 49%;
}


.images{
   margin-left: -150px;
    }

.heropage{
       object-fit: cover;
        margin-left: 3px;
       margin-left: 20px;
       height: 290px;
       margin-bottom: 70px;
    }

    span{
        color: #dc3339;
    }

    .get-started{
        margin-top:17px;
        border-radius: 5px;
        padding: 12px;
        background-color: #3882fc;
    }

    .get-started a{
        color: #fff;
        text-decoration:none;
        font-weight:bold;
    }

    .second-section h3{
        text-align:center;
        font-weight: 600;
        font-size: 20px;
    }

    .pictures{
        display: flex;
        justify-content: center;
        
    }

    .haaland, .messi , .vinicius , .mane{
        height: 100px;
        margin: 12px;
        border: 1px solid navy;
        padding: 12px;
        border-radius: 7px;
        
    }

    .haltext p{
        text-align: center;
        font-size:9px;
        width: 55%;
    }

    .messitext p{
        text-align: center;
        font-size:9px;
        border: 1px solid red;
        width: 55%;
    }

